<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div (click)=changeUsername()>CORREO: {{ user?.username }}</div>
  <ion-icon name="create"></ion-icon>
  <br>
  <br>
  <div (click)=changePassword()>
    <p>EDITAR Contraseña</p>
    <ion-icon name="create"></ion-icon>
  </div>
  <br>
  <br>
  <div *ngIf='addresses'>
    <div *ngFor='let a of addresses'>
      <p>{{a.streetName}}</p>
      <p>{{a.floor}}</p>
      <p>{{a.postalCode}}</p>
    </div>
  </div>
</ion-content>